.header{
    background-color: #021B56!important;
    .navbar-brand{
        font-size: xx-large;
    }
    .navbar-toggler{
        background-color: #ffffff!important;
    }
    
    a{
        color: #ffffff!important;
    }
}